* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

  body {
    background-image: url(./images/papel-de-parede-decorativo-adesivo-direito-justica-2m-vinil.jpg);
    background-repeat: no-repeat;
    display: table;
    width: 100vw;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background-position: 30% 45%;
    background-size: cover;
    overflow: hidden;
  }


.img-laila{
  height: 10rem;
  width : 10rem;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 50%;
  overflow: hidden
}
.img-laila > img {
  height: 130%

}

h1 {
text-align: center;
color: white;
font-size: 40px;
}


p {
  margin-top: 2rem;
  text-align: center;
  color: white;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}